.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "LetoSans-Bold";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "LetoSans-Bold";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "LetoSans-Bold";
  font-display: swap;
  src: url("../fonts/LetoSans-Bold.woff") format("woff"), url("../fonts/LetoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.header {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center 25%;
  margin: 0 ;
  position: relative;
}

.header-web{
  background-image: url("../img/web.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 205% -30%;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
}

.header .container{
  padding: 40px 40px 200px;
}

.program{
  background: #005e4d;
  margin: 0;
  position: relative;
  padding: 0;
}

.program .container{
  padding: 40px;
  position: relative;
}

.program-web{
  background-image: url("../img/web.svg");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 200% -130%;
  height: 100%;
  width: 100%;
  position: absolute;
}

.mouse-parallax {
  position: relative;
  overflow: hidden;
}
.mouse-parallax-bg {
  position: absolute;
  background-image: url("../img/web.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -75%;
  width: 110%;
  height: 110%;
  transition: all 0.1s ease; 
  opacity: 0.5; 
}

.contacts{
  background: #005e4d;
  background-size: cover;
  background-position: center;
  margin: 0 ;
  padding: 40px 40px;
}

.program .heading_level-3{
  color: #fff;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -40px;
}

.header .logo {
  margin: 0 40px;
}

.header .sponsors {
  margin: 0 40px;
}

.header .sponsors__title {
  font-size: 18px;
  color: #005e4d;
  text-align: right;
  margin-bottom: 40px;
  font-family: "LetoSans-Bold";
}

.header .sponsors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -30px;
}

.header .sponsors__item {
  margin: 0 30px;
}

.header .lang {
  display: flex;
  align-items: flex-start;
}

.header .lang a {
  color: white;
  display: inline-block;
  margin: 0 5px;
}

.header .lang a:hover {
  text-decoration: underline;
}

.index-promo__heading {
  margin-bottom: 20px;
  margin-top: -10px;
  text-shadow: 0px 0px 4px black;
  font-size: 38px;
  line-height: 52px;
  font-weight: 800;
  color: #fff;
}

.heading_level-3 {
  margin: 1em 0;
  font-size: 29px;
  line-height: 31px;
  font-weight: 800;
  color: #005e4d;
}

.program-card{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 125px;
  padding: 32px;
  margin-bottom: 1em;
  display: block;
}
.program-card__icon {
  min-width: 60px;
  min-height: 60px;
  margin-right: 1em;
  margin-bottom: 1em;
  background-repeat: no-repeat;
  background-size: contain;
}

.program-card__icon img{
  max-width: 60px;
  max-height: 60px;
}

.program-card__heading {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
}

.program-card__inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
}

.company-card__name {
  margin-bottom: 28px;
  margin-top: 15px;
  color: #005e4d;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.company-card__img {
  max-height: 84px;

}

.contacts h2{
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.contacts h2 span{
  color: #13c4a4;
}
.contacts h6{
  color: #13c4a4;
}

.contacts a{
  color: #13c4a4;
}

.numbers{
  padding-bottom: 2em;
}

.numbers .cols div{
  border-left: 2px solid #13c4a4;
  text-align: center;
  margin-bottom: 1em;
}

.numbers h1{
  font-size: 50px;
  color: #13c4a4;
  font-weight: 700;
  margin-top: 0.5em;
}

.numbers h2{
  margin-bottom: 2em;
}

.numbers p{
  font-size: 20px;
  color: #005e4d;
}

.feedback{
  padding: 3em 0;
  background: #f0f0f0;
}

.border-none{
  border: none !important;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-links__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-links__link svg {
  fill: #fff;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: .25s ease-out;
  transition: .25s ease-out;
  margin: 0 10px;
}
nav {
  margin-top: 100px;
  width: 95%;
}

nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -30px;
}

nav .navigation__item {
  margin: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
}

nav .navigation__button {
  padding: 10px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

nav .navigation__button:hover {
  background-color: rgba(19, 196, 164, 0.3);
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

nav .navigation__image {
  position: relative;
}

nav .navigation p {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "LetoSans-Bold";
  color: white;
}

#wrapper {
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px;
}

.main {
  width: 100%;
  display: block;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-height: 100%;
  background: url("../img/background.jpg") center no-repeat scroll;
  background-attachment: scroll;
  background-size: cover;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
  overflow: auto;
}

.modal__close {
  position: absolute;
  top: -10px;
  right: 20px;
  background-color: transparent;
  font-size: 24px;
  color: white;
  padding: 20px 5px;
  z-index: 9999;
}

.modal__title {
  font-size: 50px;
  text-align: center;
  margin: 100px 30px 100px 30px;
}

.modal__description {
  width: 70%;
  margin: 0 auto 50px;
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
}

.modal-info {
  padding: 60px 60px 30px;
  overflow: auto;
}

.modal-info__stat {
  max-width: 1400px;
  margin: 0 auto;
  font-size: 18px;
}

.modal-info__title {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
  padding: 20px 0;
}

.purpose {
  max-width: 1400px;
  margin: 0 auto;
}

.purpose__title {
  text-align: center;
  font-size: 30px;
  padding: 15px 0;
}

.purpose__item {
  padding: 5px 0;
  font-size: 20px;
  list-style-type: decimal;
  list-style-position: inside;
}

.stat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stat-list__item {
  margin: 20px;
  text-align: center;
}

.stat-list__item img {
  width: 100px;
  height: 100px;
}

.stat-list__item p {
  padding: 10px 0;
}

.info {
  position: absolute;
  left: 30px;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -10px 0;
  width: 200px;
}

.info-forum {
  margin: 10px 0;
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid #005e4d;
  color: #005e4d;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.info-forum:hover,
.info-forum:active {
  background-color: #005e4d;
  color: white;
}

.result-forum {
  top: 280px !important;
}

.modal-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-video video {
  width: 90%;
  height: 90%;
}

.link {
  width: 100%;
  height: 100%;
}

.link a {
  background: url("../img/link.jpg") center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: inline-block;
}

@media (max-width: 800px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header .sponsors {
    margin: 20px 40px;
  }

  .header .lang {
    margin: 0 -5px 0 auto;
  }
}

@media (max-width: 650px) {
  .mouse-parallax{
    height: auto;
  }
  .numbers .cols div{
    border: 0;
    border-top: 2px solid #13c4a4;
  }
  .program .container{
    padding: 20px 20px;
  }
  .program-web{
    opacity: 0.3;
  }
  .partners{
    text-align: center;
  }
  .program-card{
    min-height: 0;
    padding: 0;
  }

  .header .container{
    padding: 40px 40px 40px;
  }
  .header{
    background-size: auto;
    background-position: 0 0;
  }
  .header .logo {
    width: 240px;
  }

  .contacts h2{
    font-size: 16px;
  }
  .contacts{
    padding: 40px 0;
  }
  nav {
    margin: 50px auto;
  }

  nav .navigation {
    margin: -10px;
  }

  nav .navigation__item {
    margin: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .modal__title {
    font-size: 26px;
    margin: 100px 30px 50px 30px;
  }

  .modal__description {
    font-size: 22px;
  }
}

.webp .background { background-image: url(../img/background.webp); }

.webp .modal { background: url(../img/background.webp) center no-repeat scroll; }

.webp .link a { background: url(../img/link.webp) center no-repeat; }

.footer__contacts {  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 38px 32px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}